// Colors
$primary-clr1: hsl(171, 66%, 44%);
$primary-clr2: hsl(233, 100%, 69%);
$neutral-clr1: hsl(210, 10%, 33%);
$neutral-clr2: hsl(201, 11%, 66%);

// Font Size
$fs1: rem(18);

// Font Family
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
$ff1: 'Bai Jamjuree', sans-serif;

// Font Weight
$fw1: 400;
$fw2: 600;